.card {
    background-color: whitesmoke;
    padding: 40px;
    margin: 10px;
    margin-bottom: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 10px gray;
    
}


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


span{
    font-size: 30px;
}

#total{
    font-size: 30px;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: sans-serif;
}

.btn-buy button {
    font-size: 30px;
    
}